.box{
    width: 200px;
    height: 200px;
    border: 2px solid black;
    background-color: beige;
    /* border-radius: 40%; */

    display: flex;
    justify-content: center;
    align-items: center;

    /* margin: auto; */
    transition: all 3s linear 1s;
}
.container{
    width: 100vw;
    height: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box:hover{
     /* transform: rotate(-360deg) ; */
    /* transform: scale(2); */ 
    
    /* transform: skew(45deg); */
    transform: translate(500px,500px);
}
p{
    font-size: 36px;
}
